submodule.C:\Users\Sohail\Documents\GitHub\frontend-mentor-challenges\profile-card-component-main.path
submodule.C:\Users\Sohail\Documents\GitHub\frontend-mentor-challenges\faq-accordion-card-main.path